body{
    margin-top: 150px;
    margin-left: 500px;
    font-size: 200%;
}
label{
    display: block;  
}
input{
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}
#div1{
    position: relative;

}
#div2{
    position: relative;
    bottom: 100px;
}